*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: green;
    
}

a {
    text-decoration: none;
    color: inherit;
}


ul, ol, li{
    list-style: none;
}
header{
    height: 7vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
   
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
footer{
    height: 10vh;
    background-color: blueviolet;
}
.image{
    height: 100%;
    width: 90vh;
    background-image: url(./img/gorrilaz\ rosa.jpg);
    background-color: pink;
    background-size: cover;
    display: flex;
    position: absolute;
}
.menu{
    gap: 600px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    width: 80px;
}
