*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: blue;
}
header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: aqua;
}